.PlusIcon {
  width: 2rem;
  height: 2rem;

  background-image: url(/Images/btn_plus.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.MinusIcon {
  width: 2rem;
  height: 2rem;

  background-image: url(/Images/btn_min.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
