.DeleteIcon {
  width: 2rem;
  height: 2rem;

  border: 1px solid #e5e7eb;
  background-image: url(/Images/btn_delect.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
